@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

.full{
  min-height: 100vh;
}
.fa-eye{
  color: white;
}
.fa-pen{
  color: white;
}
.fa-trash-alt{
  color: green;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.table{
  /* font-family: 'Oswald', sans-serif !important; */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}